{% extends "network/layout.html" %}

{% block body %}
    <h3>Post Detail...</h3>
    <div id="detail-{{ detail.id }}">{{ detail.text }}</div>

    <p>Likes = {{ detail.like_count }} </p>
    <a href="{% url 'like' %}?id={{ detail.id }}">Like</a>
    <form>
        <input type=button onclick="tweet({{ detail.id }})" value="tweet">
    </form>


<!-- This is where the React components will be displayed -->
<div id="like-"></div>
<div id="app"></div>
<div id="like-15"></div>

<!-- Define the React elements and components -->
<script type="text/babel">
    // A React element.
    const snippet = <Hello name="Will" />
    let editPost = '#like-'

    // A React component.
    class Hello extends React.Component {
        render() {
            return (
                    <h1>Hello <i>{this.props.name}</i>, how are you?</h1>
            );
        }
    }

    // A React component.
    function Goodbye(props) {
            return (
                    <h1>Goodbye <i>{props.name}</i>, <a href="{% url 'posts' %}">fare thee well!</a></h1>
            );
    }

    // Th React component 'App' uses the React Component Class 'Hello'
    // the React Component function 'Goodbye'
    // and the React element 'snippet'.
    class Clock extends React.Component {
        constructor(props) {
            super(props);
            this.state = {date: new Date()};
        }

        componentDidMount() {
            this.timerID = setInterval(
              () => this.tick(),
              this.props.interval
             );
        }

          componentWillUnmount() {
            clearInterval(this.timerID);
          }

          tick() {
            this.setState({
              date: new Date()
            });
          }

        render() {
            return (
                <div>
                    <Hello name="{{ detail.author }}"/>
                    <div><Goodbye name="{{ user }}" /></div>
                    <h3>The time is {this.state.date.toLocaleTimeString()}.</h3>
                </div>
            );
        }
    }

    // React Component that calls Component 'Clock' but uses different time intervals.
    class App extends React.Component{
        render() {
            return (
                    <div>
                        <Clock interval="1000"/>
                        <Clock interval="5000"/>
                    </div>
            );
        }
    }
    ReactDOM.render(
        <App />,
        document.querySelector("#app")
    );
    // Use Django template conditional to decide whether to display React Button Component.

    class Like extends React.Component{
        constructor(props) {
            super(props);
            this.state = {isToggleOn: true};
            // This binding is necessary to make `this` work in the callback
            this.handleClick = this.handleClick.bind(this);
  }
        handleClick(user) {
            this.setState(state => ({
                isToggleOn: !state.isToggleOn
            }));
            this.name = this.user;
            //alert(this.props.text)
         }

        render() {

            return (
                <button class="btn btn-primary" onClick={this.handleClick.bind(this, '{{ user }}')}>
                {this.state.isToggleOn ? this.props.text : 'Unfollow'}
              </button>
            );
        }
    }

    // Display a component on 'tweet' button click
    function tweet(postID) {
                let editPost = '#like-' + postID;
                let detailID = "detail-" + postID;
                let detailValue = document.getElementById(detailID).innerText

                // alert(detailID)
                ReactDOM.render(
                <Like text={detailValue}/>,
                document.querySelector(editPost)
        );
                document.getElementById(detailID).style.display = "none";


    }

</script>

{% endblock %}
